<a href="https://colab.research.google.com/github/kiselpd/HW3_ML/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [281]:
import numpy as np
import pandas as pd

In [282]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [41]:
train_data = pd.read_csv("/content/drive/MyDrive/GoogleColab/HW3/train.csv")
train_data.head()

,id,url,title,target
0,0,m.kp.md,"Экс-министр экономики Молдовы - главе МИДЭИ, ц...",False
1,1,www.kp.by,Эта песня стала известна многим телезрителям б...,False
2,2,fanserials.tv,Банши 4 сезон 2 серия Бремя красоты смотреть о...,False
3,3,colorbox.spb.ru,Не Беси Меня Картинки,False
4,4,tula-sport.ru,В Новомосковске сыграют следж-хоккеисты алекси...,False

In [260]:
test_data = pd.read_csv("/content/drive/MyDrive/GoogleColab/HW3/test.csv")
test_data.head()

,id,url,title
0,135309,www.kommersant.ru,Шестой кассационный суд в Самаре начнет работу...
1,135310,urexpert.online,"Что такое индексация алиментов, кем и в каких ..."
2,135311,imperimeha.ru,Женщинам | Империя Меха - Part 12
3,135312,national-porn.com,"Небритые, волосатые киски: Порно всех стран и ..."
4,135313,2gis.ru,67

In [43]:
import nltk
nltk.download('stopwords')
stop_words = nltk.corpus.stopwords.words('russian')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [245]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score
from sklearn.naive_bayes import MultinomialNB

In [242]:
X_train = train_data.drop(columns=["id", "target"])
y_train = train_data["target"].astype(int).values

In [270]:
model = Pipeline([
    (
        'vectorize', 
        ColumnTransformer([
            (
                'title', 
                TfidfVectorizer(
                    lowercase = True, ngram_range = (1, 2),
                    stop_words = stop_words
                ), 
                'title'
            ),
            (
                'url',
                TfidfVectorizer(
                    lowercase = True, ngram_range = (1, 2),
                    stop_words = stop_words
                ), 
                'url'
            )
        ])
    ),
    ('clf', MultinomialNB())
])

In [271]:
model.fit(X_train, y_train)

y_pred = model.predict(X_train)
print(classification_report(y_pred, y_train))
f1_score(y_train, y_pred)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    118987
           1       0.97      0.99      0.98     16322

    accuracy                           1.00    135309
   macro avg       0.98      0.99      0.99    135309
weighted avg       1.00      1.00      1.00    135309

0.9806580500650784

In [278]:
new_pred = model.predict(test_data)
print(new_pred)

[0 0 0 ... 0 0 0]

In [279]:
test_df = test_data.drop(columns=["title", "url"])
test_df

            id
0       135309
1       135310
2       135311
3       135312
4       135313
...        ...
165373  300682
165374  300683
165375  300684
165376  300685
165377  300686

[165378 rows x 1 columns]

In [285]:
test_df["target"] = new_pred.astype(bool)

test_df[["id", "target"]].to_csv("/content/drive/MyDrive/GoogleColab/HW3/derived.csv", index=False)

id,target
135309,False
135310,False
135311,False
135312,True
135313,False
135314,False
135315,False
135316,False
135317,False