<a href="https://colab.research.google.com/github/kiselpd/HW3_ML/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#for my GoogleDisk
#from google.colab import drive
#drive.mount('/content/drive')
#%cd /content/drive/MyDrive/GoogleColab/HW3

Mounted at /content/drive
/content/drive/MyDrive/GoogleColab/HW3

In [ ]:
train_data = pd.read_csv("train.csv")
train_data.head()

,id,url,title,target
0,0,m.kp.md,"Экс-министр экономики Молдовы - главе МИДЭИ, ц...",False
1,1,www.kp.by,Эта песня стала известна многим телезрителям б...,False
2,2,fanserials.tv,Банши 4 сезон 2 серия Бремя красоты смотреть о...,False
3,3,colorbox.spb.ru,Не Беси Меня Картинки,False
4,4,tula-sport.ru,В Новомосковске сыграют следж-хоккеисты алекси...,False

In [ ]:
test_data = pd.read_csv("test.csv")
test_data.head()

,id,url,title
0,135309,www.kommersant.ru,Шестой кассационный суд в Самаре начнет работу...
1,135310,urexpert.online,"Что такое индексация алиментов, кем и в каких ..."
2,135311,imperimeha.ru,Женщинам | Империя Меха - Part 12
3,135312,national-porn.com,"Небритые, волосатые киски: Порно всех стран и ..."
4,135313,2gis.ru,67

In [ ]:
import nltk
nltk.download('stopwords')
stop_words = nltk.corpus.stopwords.words('russian')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.naive_bayes import MultinomialNB

In [ ]:
#train_data preparation
X = train_data.drop(columns=["id", "target"])
y = train_data["target"].astype(int).values
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=10)

In [ ]:
#Combining features
model = Pipeline([
    (
        'features', 
        ColumnTransformer([
            (
                'title', 
                TfidfVectorizer(
                    lowercase = True, ngram_range = (1, 3), stop_words = stop_words
                ), 
                'title'
            ),
            (
                'url',
                TfidfVectorizer(
                    lowercase = True, ngram_range = (1, 3), stop_words = stop_words
                ), 
                'url'
            )
        ])
    ),
    ('MNB', MultinomialNB(alpha = .4))
])

In [ ]:
#model training and testing
model.fit(X_train, y_train)

y_pred = model.predict(X_val)

print(classification_report(y_pred, y_val))
print("F1-Score: ", f1_score(y_val, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    118593
           1       0.98      0.98      0.98     16716

    accuracy                           1.00    135309
   macro avg       0.99      0.99      0.99    135309
weighted avg       1.00      1.00      1.00    135309

F1-Score:  0.9847147856779636

In [ ]:
#prediction of test_data
test_pred = model.predict(test_data)

In [ ]:
#filling prediction in the derived.csv
test_df = test_data.drop(columns=["title", "url"])
test_df["target"] = test_pred.astype(bool)

test_df[["id", "target"]].to_csv("derived.csv", index = False)